*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*estilos-predeterminados*/
:root {
  --color-green-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray: #2c2c2ce5;
  --color-gray-mediem: #f8f9fa;
  --color-yellow: #fac32c;
  --color-green: #4DC5B3;
 }

 body{
  min-width: 100%;
  min-height: 100%;
  background-image: url(../img/samuel-scrimshaw-76649-unsplash.jpg);
 	background-repeat: no-repeat;
   background-size: cover;
 }

 /**login usuario**/
 .name__user__container{
   display: flex;
   flex-direction: column;
   margin: 15rem auto;
   width: 100%;
   height: 15rem;
 }
 .name__user__container__title{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 1rem 0;
   font-size: 2.5rem;
   color: #dfff2b;
   text-align: center;
   font-weight: bold;
 }
 .name__user__container__inputs{
   display: flex;
   border-radius: 2%;
   align-self: center;
   background-color: #dfff2b;
   flex-direction: column;
   align-content: center;
   width: 17rem;
   height: 7rem;
   text-align: center;
 }
 .name__user__container__inputs input{
   margin: auto 0.5rem;
  display: flex;
  flex-direction: column;
 }

 .name__user__container__inputs #user{
  border-radius: 3%;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--color-gray);
  border: none;
}

 .name__user__container__inputs #submit{
   cursor: pointer;
   text-decoration: none;
   margin: auto 0.5rem;
   border-radius: 3%;
   padding: 0.5rem;
   font-weight: bold;
   color: white;
   border: none;
   background-color: var(--color-gray);
 }
 .name__user__container__inputs #submit:hover{
   background-color: #0d0d0e;
   transition: all 0.8s;
 }

/**questions**/